# Ignora ambientes virtuais
venv/
venv310/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/
.pixi
.pdm-python
.pdm-build/

# Ignora arquivos de cache Python
__pycache__/
*.pyc
*.py[codz]
*.pyo
*.pyd
*$py.class
cython_debug/

# C extensions
*.so

# Byte-compiled / optimized / DLL files
*.py[codz]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#Pipfile.lock

# UV
#uv.lock

# poetry
#poetry.lock
#poetry.toml

# pdm
#pdm.lock
#pdm.toml

# pixi
#pixi.lock

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# PyCharm
#.idea/

# Abstra
.abstra/

# Visual Studio Code
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Machine Learning models
*.joblib
*.pkl
*.sav
*.h5
*.hdf5


# Bancos de dados locais e arquivos grandes
*.db
*.duckdb
*.sqlite
*.sqlite3
*.bak

# Arquivos de configuração privados
.env
*.env

# Logs e outputs temporários
*.log
logs/
output/
*.out

# Configurações locais de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos compactados temporários
*.zip
*.tar
*.tar.gz

# Outros arquivos/projetos que queira manter privados
segredos.txt
senha.txt
